.checkout-page {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 20%;
      margin-right: 20px;

      &:last-child {
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
